.App {
  text-align: center;
}

.container {
  background-color: #212121;
  box-shadow: 6px 6px 12px #131313, -6px -6px 12px #292929;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  margin: 100px auto;
  padding: 10px;
  height: 50vh;
  min-width: max-content;
  width: 50vw;
}

.button {
  background: #5900ff;
  color: white;
  border-color: #5900ff;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background 0.15s;
  font-family: inherit;
  font-weight: 700;
}

.button:hover {
  background: #4100bb;

  border-color: #4100bb;
}

label {
  display: flex;
  flex-direction: column;
}

select,
select option {
  background-color: #212121;
  color: white;
  padding: 10px;
}
